@import 'tailwindcss';

.manabi-user-avatar-base-wrapper {
    z-index: 10;
    font-family: 'GeneiKiwami', sans-serif;
    align-items: center;
    top: 33px;
    left: 50px;
    position: absolute;
    transform: translateX(-50%);

    transition: all 0.4s ease-in-out;
}

.manabi-user-avatar-base {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Avatar base*/
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #e1e1e1;

    image-rendering: high-quality;
    animation-duration: 0.5s;
    transform-origin: top;
    animation-name: manabi-avatar-reveal;
}

@keyframes manabi-avatar-reveal {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        transform: translateY(10%);
        opacity: 50;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.manabi-user-avatar-img {
    position: relative;
    border-radius: 50%;
    background-color: white;
}


@media (min-width: 375px) and (orientation: landscape) {
    .manabi-user-avatar-base{
        height: 70px;
        width: 70px;
    }
    .manabi-user-avatar-base-wrapper{
        top: 33px;
        left: 65px;
    }
}

/* Medium phones & large mobiles (425px/480px) */
@media (min-width: 425px) {
    .manabi-user-avatar-base{
        height: 80px;
        width: 80px;
    }
    .manabi-user-avatar-base-wrapper{
        top: 33px;
        left: 71px;
    }
}

@media (min-width: 920px) {
        .manabi-user-avatar-base{
            height: 100px;
            width: 100px;
        }
        .manabi-user-avatar-base-wrapper{
            top: 21px;
            left: 71px;
        }
}



