body{
    --arrival-border-color: #ffffff;
}

.manabi-arrival-wrapper {
    z-index: 10;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    animation: manabi-arrival-bg-reveal 3s forwards ease-in-out;
}

.manabi-arrival-inner {
    width: 100%;
    height: 6em;
    transform-origin: right;
    animation: manabi-arrival-text-reveal 3s forwards ease-in-out;
}

.manabi-arrival-bg {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 2px #dbdbdb;
}

.manabi-arrival-content-wrapper{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
}

.manabi-arrival-text {
    font-weight: bold;
    align-self: center;
    font-family: 'GeneiKiwami', sans-serif;
    font-size: 2.2rem;
    color: #004b63;
}

.manabi-arrival-border {
    display: flex;
    width: 100%;
    box-shadow: inset 0 4px 0 var(--arrival-border-color), inset 0 -4px 0 var(--arrival-border-color);
}

.friends{
    --arrival-border-color: #dfac51;
}

.manabi-arrival-icon{
    margin: 1em 1em 1em 1em;
    width: 4em;
    height: 4em;
}

@keyframes manabi-arrival-text-reveal {
    0%   { transform: translateX(100%); }
    15%   { transform: translateX(0%); }
    85%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@keyframes manabi-arrival-bg-reveal {
    0%   { opacity: 0;  }
    10%   { opacity: 1;  }
    90%   { opacity: 1; }
    100% { opacity: 0; }
}


@media (min-width: 1280px) {
    .manabi-arrival-inner{
        height: 9em;
    }
    .manabi-arrival-bg{
        box-shadow: 0 10px 2px #dbdbdb;
    }
    .manabi-arrival-text {
        font-size: 3.4rem;
    }
    .manabi-arrival-border {
        box-shadow:
                inset 0 8px 0 var(--arrival-border-color),
                inset 0 -8px 0 var(--arrival-border-color);

    }
    .manabi-arrival-icon{
        margin: 2em 2em 2em 2em;
        width: 5em;
        height: 5em;
    }
}
