.notes-page {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #48bffd;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.notes-text-area {
    width: 70%;
    height: 70%;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #f9ffff;
    box-shadow: 0 15px 0 #3da3d7;
    color: #38a0a9;
    font-size: 1.3em;
    resize: none;
    outline: none;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
}

.notes-note-selector-wrapper {
    width: 20%;
    height: 70%;
    background-color: #d5f6f9;
    border-radius: 10px;
    box-shadow: 0 15px 0 #3da3d7
}
